extends layout

block content
  .container(style='text-align: center; font-family: Arial, sans-serif; padding: 20px;')
    h1(style='font-size: 50px; color: black') 404 Error: Page Not Found!
    
    .image-container(style='margin-top: 20px;')
      img(src='/images/404panda.gif' alt='Panda 404' style='width: 300px; transition: transform 0.3s ease-in-out;' )

    p(style='font-size: 20px; color: #333; margin-top: 20px;') Oops! Looks like the page you're looking for doesn't exist. But don't worry, pandas are here to help!


